@use '@/styles' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  padding-top: $spacing-sm;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-md;
  padding-top: $spacing-lg;
  border-top: 1px solid $neutral-3;
}